#contact {
  background-color: lightcyan;
}

#contact .card {
  background-color: white;
}

#contact .card .container {
  padding: var(--space-big);
}

/* Larger than mobile */
@media (min-width: 400px) {
  #contact .card .image {
    width: 100%;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  /* This move to a horizontal layout */
  #contact .card {
    display: flex;
    flex-direction: row;
  }

  /* This make each side 50% wide */
  #contact .card .image,
  #contact .card .container {
    max-width: 50%;
  }

  /* Fix image proportion */
  #contact .card .image {
    object-fit: cover;
  }

  /* Alter the image location */
  #contact .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  /* Center the text vertically and horizontally */
  #contact .card .container {
    display: grid;
    align-self: center;
    justify-self: center;
  }
}
